nav {
  background: linear-gradient(to right, #c1c1c1 70%, #fff);
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: inset 0 0 1em white, 0 0 1em black;
  font-family: 'Roboto', sans-serif;
}

.container-header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  margin: 0 30px;
}

.lateral-text {
  font-size: 30px;
  font-weight: 800;
  font-style: italic;
}

@media screen and (max-width: 910px) {
  .lateral-text {
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
  }
}

@media screen and (max-width: 675px) {
  .lateral-text {
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
    width: 150px;
    word-wrap: break-word;
    text-align: right;
  }
}